name: Formatting check

on: [push, pull_request]

jobs:
  check:
    name: "Check formatting"
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v6

      - name: Install clang-format-17
        run: |
          wget -qO- https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository -y "deb http://apt.llvm.org/$(lsb_release -cs)/ llvm-toolchain-$(lsb_release -cs)-17 main"
          sudo apt-get update
          sudo apt-get install -y clang-format-17

      - name: Run clang-format check
        run: |
          find . -path ./SeQuant/external -prune -o \
            -regextype posix-extended \
            -regex '.*\.(h|hpp|hh|hxx|ipp|cpp|cc|cxx)$' \
            -print0 | \
          xargs -0 clang-format-17 --dry-run --Werror
